<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Latest in Entertainment</h1>
    <p class="lead">Check back daily for the latest in entertainment news!</p>
    <button type="button" class="btn btn-light" id="scrape">New Articles?</button>
  </div>
</div>

<div class="container" id="articles">

</div>